.sidebar {
  border-right: 2px solid #ccc;
  display: flex;
  padding: 30px 20px 50px;
  flex-direction: column;
  height: 90vh;
  gap: 20px;
}

.sidebar .icon {
  transition: all .4s ease-in;
}

.sidebar .icon:nth-child(-n+2):hover,
.sidebar .icon:nth-of-type(-n+2):hover {
  transform: rotate(360deg);
  background-color: #84c298;
  color: white !important;
  border-color: black !important;
}
.sidebar .icon:nth-child(3):hover,
.sidebar .icon:nth-of-type(3):hover {
  background-color: #84c298;
  color: white !important;
  border-color: black !important;
}
.poppup{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 12px
}
.poppup h1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}
.poppup input{
  width: 100%;
  padding: 7px;
  border-radius: 30px;
  outline: none;
  border: 1px solid #ccc;
}
.sellect{
  cursor: pointer;
}